<!DOCTYPE html>
<html>
<head>
  <title>Battle Pets</title>
  
<body>
    <div>
      <h1>Welcome to Battle Pets <%= @account.username %>!</h1>      

      <h2>Email: <%= @account.email %></h2>
      <h2>Permission: <%= @account.permission %></h2>
      <h2>Status: <%= @account.status %></h2>

      <p>
    </div>
</body>
</html>

